#IDE files
.idea
scratchpad.txt

# Logs
webapp/logs
*.log

# Runtime data
webapp/pids
*.pid
*.seed
*.pid.lock

# sam configuration
*.toml
.aws-sam/
sample.gzip

# Dependency directories
node_modules/


